$color-primary: #55bde2;
$color-primary-grey-dark: #414947;
$color-primary-medium: #4494b1;
$color-primary-light: #72d2f5;
$color-primary-super-light: #b9ebfd;

$color-secondary: #4f4040;
$color-secondary-grey-dark: #353434;
$color-secondary-medium: #5f5a5a;
$color-secondary-light: #948d8d;

$color-text: #4f4040;
$color-text-white: #f5f5f5;

$gradient-primary: #f5f5f5;
$gradient-secondary: black;

$color-form-input-invalid: rgb(121, 63, 63);
$color-form-input-valid: rgb(97, 122, 97);
