@import '../styling/colors.scss';

.container {
  display: flex;
  position: absolute;
  top: 2rem;
  left: 18rem;
  @media only screen and (max-width: 760px) {
    top: 1rem;
    left: 22rem;
  }
}

.link {
  margin-left: 4rem;
  font-size: 2rem;
  font-weight: 600;
  color: $color-text-white;
  text-decoration: none; /* no underline */
}
