@import '../styling/colors.scss';

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 2rem;
  right: 8rem;
  @media only screen and (max-width: 760px) {
    top: 1rem;
    right: 4rem;
  }
}

.defaultMenuContainer {
  @extend .menuContainer;

  color: $color-text;
}

.homeMenuContainer {
  @extend .menuContainer;

  color: $color-text-white;
}

.menuList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1.5rem;
  transition: all 0.5s;

  a {
    text-decoration: none; /* no underline */
    transition: all 0.5s;
    @media only screen and (max-width: 760px) {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    &:hover {
      text-decoration: underline;
      transform: translateY(-0.5rem);
    }
  }
}

.homeMenuList {
  @extend .menuList;

  a {
    color: $color-text-white;
  }
}

.defaultMenuList {
  @extend .menuList;

  a {
    color: $color-text;
  }
}

.menuButton {
  text-decoration: none; /* no underline */
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 1rem;
  transition: all 1s;

  img {
    height: 3rem;

    &:hover {
      transform: translateY(0.2rem);
    }
  }
}
